<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="index.html" class="brand-link">
		<img th:src="@{/dist/img/logo.png}" alt="Telenor Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
		<span class="brand-text font-weight-light">Application for Files</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">

			<div class="image">
				<img th:src="@{/dist/img/user.png}" class="img-circle elevation-2" alt="User Image" />
			</div>
			<div class="info">
				<a href="#" class="d-block">
					<b><span sec:authentication="name"></span></b>
					<br>
					<i style="font-size: 8px;" class="fa fa-circle text-success"></i>
					<span style="font-size: 11px;"> Online</span>
				</a>
			</div>
		</div>

		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search Menu" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


				<li class="nav-header">MENU</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-file-excel-o"></i>
						<p>
							Import
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="invoice" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Invoice</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="storno" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Storno</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-list"></i>
						<p>
							My Imports
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Invoice</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Storno</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-file-text"></i>
						<p>
							Instructions
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/pdf/user_manual.pdf}" class="nav-link" target="_blank">
 								<i class="nav-icon fas fa-file-pdf-o"></i>
								<p>User Manual</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="/app/logout" class="nav-link">
						<i class="nav-icon fas fa-sign-out-alt"> </i>
						<p>Log Out</p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>

